<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663018219165-s2chk6mtnhmjrmv1vqdqmmdhkus7q6h2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663018219165-s2chk6mtnhmjrmv1vqdqmmdhkus7q6h2</string>
	<key>API_KEY</key>
	<string>AIzaSyD5eZm41htW9hurIoOKJj3yk8RkDtIhN7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>663018219165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duyhuynhquoc.gdClubApp</string>
	<key>PROJECT_ID</key>
	<string>gd-club-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gd-club-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663018219165:ios:7eb3d54c2a4f1b87d0d674</string>
</dict>
</plist>